body {
  padding: 50px;
  color: #929292;
  background: #1f1f1f url("images/movie2.png") no-repeat center;
  background-attachment: fixed;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type="text"] {
  background-color: #2f2f2f;
  border-radius: 4px;
  border: 1px solid #1f1f1f;
  padding: 10px 20px;
  color: #eaeaea;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4f4f4f;
  border-radius: 4px;
  border: 1px solid #3f3f3f;
  color: gold;
  cursor: pointer;
}

#movies {
  display: inline-block;
}

.movie_container {
  padding: 20px;
  background-color: #1d1d1d;
  margin-bottom: 20px;
}

.movie_container h1 {

}

table {
  border-spacing: 0px !important;
  padding: 0 !important;
  width: 100%;
  border: 1px solid #3f3f3f;
  background-color: #2f2f2f;
  color: #eaeaea;
  margin-bottom: 20px;
}

table th {
  text-align: left;
  background-color: #1f1f1f;
  color: gold;
  padding: 10px 20px;
}

table td {
  padding: 10px 20px;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #2a2a2a;
}

table:last-child {
  border-bottom: none;
}

.movie_edit_container {
  margin-bottom: 20px;
}

.adults {
  background-color: red;
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  font-size: 10px;
  margin-left: 10px;
}
